@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div#wrap {
  width: 300px;
  padding: 10px;
  border: 3px solid #08f;
  margin: 20px auto;
}
h1 {
  color: #5a5;
  text-align: center;
}